.main {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-container {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 500px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1%;
}

.right-container {
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  width: 270px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1%;
}

.char-profile-select {
  /* border: 1px solid black; */
  width: 250px;
  height: 150px;
  display: grid;
  grid-template-columns: 100px auto;
}

.slider {
  /* border: 1px solid black; */
  height: 50px;
  display: inline-block;
  align-items: center;
}

.slider-start-level, .slider-end-level {
  width: 150px;
  margin-top: 15px;
}

.txt-start-level, .txt-end-level {
  margin-left: 5px;
  position: absolute;
  font-size: 15px;
  margin-top: -1px;
}

.char-profile-pic-name {
  /* border: 1px solid black; */
  /* position: absolute; */
  width: 101px;
  height: 148px;
}

.char-pic {
  height: 100px;
}

.char-rarity {
  position: absolute;
  width: 80px;
  margin-left: -90px;
  margin-top: 80px;
}

.char-bg {
  position: absolute;
  height: 110px;
  margin-top: -5px;
  margin-left: -5px;
  z-index: -1;
}

.char-btn {
  padding: 10px;
  padding-right: 15px;
  width: 225px;
  margin-top: 5px;
}

.char-name {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.char-element-img {
  position:absolute;
  margin-top: 1px;
  margin-left: -95px;
  height: 30px;
}

.detail-container {
  border: 1px solid black;
  margin-top: 10px;
  margin-left: -10px;
  width: 260px;
  display: grid;
  grid-template-columns: 25px auto auto;
  /* height: 35px;
  width: 220px; */
  /* overflow: hidden; */
}

/* .imgContainer {
  width: 35px;
  height: 35px;
  float: left;
} */

.imgContainer {
  /* border: 1px solid black; */
  height: 25px;
  }

.imgContainer img {
  width: 25px;
  height: 25px;
}


.details-txt-container {
  border: 1px solid black;
  word-wrap: break-word;
  font-size: 15px;
  font-family: Calibri;
  align-items: center;
  text-align: left;
  height: auto;
  max-width: 200px;
}

.details-txt-container p {
  margin: auto;
}

.materials-number {
  border: 1px solid black;
  height: auto;
  font-size: 15px;
  font-family: Calibri;
  text-align: right;
}