.main {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-container {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 500px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-container {
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  width: 250px;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.char-profile-select {
  border: 1px solid black;
  width: 220px;
  height: 150px;
}

.char-profile-pic-name {
  position: absolute;
  display: inline-block;
}

.char-pic {
  height: 100px;
}

.char-rarity {
  position: absolute;
  width: 80px;
  margin-left: -90px;
  margin-top: 85px;
}

.char-bg {
  position: absolute;
  height: 110px;
  margin-top: -5px;
  margin-left: -5px;
  z-index: -1;
}

.char-btn {
  padding: 10px;
  padding-right: 15px;
  width: 225px;
  margin-top: 5px;
}

.char-name {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.char-element-img {
  position:absolute;
  display: inline;
  margin-left: -100px;
  height: 30px;
}

.all-char-details {
  padding-top: 10px;
}

.detail-container {
  border: 1px solid black;
  height: 35px;
  width: 220px;
  overflow: hidden;
}

.imgContainer {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  float: left;
}

.imgContainer img {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.details-txt-container {
  border: 1px solid black;
  height: 35px;
  width: 140px;
  float: left;
  word-wrap: break-word;
  font-size: 10px;
}

.materials-number {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
}

